PORTARIA_DB_HOST=localhost
PORTARIA_DB_PORT=3306
PORTARIA_DB_NAME=portaria
PORTARIA_DB_USER=replace-me
PORTARIA_DB_PASSWORD=replace-me
PORTARIA_LOGIN_USER=TI
# Format: pbkdf2_sha256$iterations$salt_hex$digest_hex
PORTARIA_LOGIN_PASSWORD_HASH=replace-me
